<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<div class="container">
<h1>Coronavirus Tracker Application</h1>
<p>This application list the current number of cases reported across the globe</p>
<div class="jumbotron">
    <h1 class="display-4" th:text="${totalReportedCases}">Hello, world!</h1>
    <p class="lead">Total cases reported as of today </p>
    <hr class="my-4">
    <p>
        <span>New Cases reported since previous day</span>
        <span th:text="${totalNewCases}"></span>
    </p>

</div>

<table class="table">
    <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total Cases Reported</th>
        <th>Changes till last data</th>
    </tr>
    <tr th:each="locationStat : ${locationStats}">
        <td th:text="${locationStat.state}"></td>
        <td th:text="${locationStat.country}"></td>
        <td th:text="${locationStat.latestTotalCases}">0</td>
        <td th:text="${locationStat.diffFromPrevDay}">0</td>

    </tr>
</table>
</div>
</body>

</html>